.idea
.DS_Store
__pycache__
*.pdf
*.dot
datasets/commonsenseqa/
datasets/commonsenseqa/*.statements.npy
datasets/commonsenseqa/*.statements.*.ccr
datasets/commonsenseqa/*.statements.*.mcp
datasets/commonsenseqa/*.pf
datasets/commonsenseqa/*.pf.lite
datasets/csqa_new/*.statements.*.ccr
datasets/csqa_new/*.statements.*.mcp
datasets/csqa_new/*.pf
datasets/csqa_new/*.pf.lite
datasets/sgn_pretrain.*.npy
datasets/sgn_pretrain.*.statements
datasets/commonsenseqa/*_rand_split.jsonl.statements.rcg.refine
datasets/csqa_new/*_rand_split.jsonl.statements.rcg.refine
datasets/ai2thor/
LRCGN/models/
embeddings/_OpenKE/
.ipynb_checkpoints/
.vscode/
*.egg-info/
*.rcg
*.swp
conceptnet/conceptnet_en.graph
conceptnet/conceptnet-assertions-5.6.0.csv.en
grounding/_grounding_concepts.py
pathfinder/_pathfinder.py
pathfinder/_path_scoring.py
*.dgl
*.model
*.bin
*.bin.*
conceptnet/cpnet.graph
datasets/csqa_new/*.pickle
models/model_save/*
*.gz
*.nxg
*.pk
*.pnxg

